/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

/* =========================== */
:root {
    --color-1: #21d4fd;
    --color-2: #b721ff;
    --color-3: #08aeea;
    --color-4: #2af598;

    --color4-9: #dbdbdba2;
    --colo5: #666;
    --color6: #4d5057;
    --color8: #fa6400;
    --color8: #fac300;
}

/* =============================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

/* =========================
   -  FONTS AND TXT - 
==============================*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: 'Roboto' !important;
    font-weight: 700 !important;
    line-height: 1.25;
}

h1 {
    font-size: 7.5rem !important;
}

p {
    font-family: 'Quicksand' !important;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}

a {
    list-style: none !important;
    text-decoration: none !important;
}

/* ============================== */
/* Header */
header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
    color: white;
    transition: 0.5s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo {
    height: 50%;
    width: auto;
    object-fit: cover;
}

ul {
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
    list-style: none;
}

.menu-item {
    font-size: 17px;
    margin: 0 1rem;
    font-weight: 500;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Quicksand';
}

.menu-item a {
    color: #fff;
}

.scrolled a {
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

.scrolled {
    background-color: var(--color4-9);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.scrolled .logo {
    filter: invert(1);
}

/* ====================================== */
/* Slider */
.carousel {
    position: relative !important;
    width: 100%;
    left: 0vh;
    height: auto;
    margin: 0 auto !important;
}

/* Indicator Carrusel */
.carousel-indicators {
    display: flex;
    justify-content: left !important;
    flex-direction: column;
    left: -18vh !important;
    top: 20vh;
}

.carousel-item {
    position: relative !important;
    height: 100% !important;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    top: 37%;
}

.carousel-caption.animate-in {
    opacity: 1;
    transition: all .3s;
}

.sliderIMG {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

/* @media */
@media (min-width: 1200px) {
    .carousel-indicators {
        left: -18vh !important;
    }

    .inner-crsl {
        width: 78.9em !important;
        margin-left: -12px !important;
    }
}

@media (min-width: 1400px) {
    .carousel-indicators {
        left: -14vh !important;
    }

    .inner-crsl {
        width: 87.5em !important;
        margin-left: -12px !important;
    }

    .sliderIMG {
        height: 80vh;
    }
}

@media (min-width: 1600px) {
    .carousel-indicators {
        left: -22vh !important;
    }

    .inner-crsl {
        width: 118.9em !important;
        margin-left: -11.9px !important;
    }

    .sliderIMG {
        height: 80vh;
    }
}

/* ====================================== */
/* Aboth */
.aboth {
    width: 100%;
    background: var(--color6);
    padding: 60px;
    height: 55vh;
}

.information-Abouth {
    position: relative;
    float: left;
    margin-left: -20px;
    width: 100%;
}

.information-Abouth h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 4.2rem;
}

.information-Abouth p {
    margin-top: 2.5vh;
    color: #fff;
    text-transform: initial;
}

.information-Abouth span {
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--color8);
}

.red-social-icons {
    position: relative;
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
    width: 100%;
    margin-left: -72px;
}

.u-spacing-27 a {
    color: #fff;
    font-size: 22px;
}

.u-social-url span {
    color: var(--color4-9);
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Quicksand';
}

.card-abouth {
    position: relative;
    background: transparent;
    transition: .9s;
    width: 60vh;
    top: -17px;
    float: right;
}

.card-abouth:hover {
    background: var(--color4-9) !important;
    height: auto;
    width: 100%;
}

.card-abouth img {
    padding: 10px;
    display: block;
    margin: auto;
    width: 60%;
    object-fit: cover;
}
@media (min-width: 1200px) {
    .aboth {
        height: 65vh;
    }
    .red-social-icons {
        margin-left: -50px;
    }
}

@media (min-width: 1400px) {
    .aboth {
        height: 55vh;
    }
    .red-social-icons {
        margin-left: -72px;
    }
}
/* ====================================== */
/* Countend */
.Countend {
    position: relative;
    background: var(--color8);
    left: 10%;
    width: 80%;
    padding: 0 40px;
    top: -10vh;
    z-index: 1;
}

.counter-container {
    align-items: center;
    text-align: center;
}

.counter-container p {
    font-weight: 400;
    text-align: center;
}

.counter {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

/* ====================================== */
/* Services */
.services {
    background: #ecececbd;
    position: relative;
    margin-top: -23vh;
    min-height: 90vh;
}

.title-services {
    margin-top: 22vh;
    margin-bottom: 7vh;
}

.title-services h3 {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 4.2rem;
    margin-left: 35px;
}

.cards {
    margin: 0;
    min-height: 20vh;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.article-card {
    width: 380px;
    height: 280px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;
}

.article-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.article-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-card .content {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    padding: 30px 20px 20px 20px;
    height: auto;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .title {
    margin: 0;
    font-size: 37px;
    color: #fff;
}

/* ====================================== */
/* Gallery */
.gallery-cont {
    width: 100%;
    min-height: 70vh;
}

.title-Gallery {
    margin-top: 18vh;
    margin-bottom: 7vh;
}

.title-Gallery h3 {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 4.2rem;
    margin-left: 35px;
}
.gallery-pict{
    margin: 10px 50px;
}

.gallery-pict img{
    object-fit: cover;
    width: 30%;
    height: 40%;
    padding: 5px;
    filter: grayscale(100%);
    transition: .5s;
}

.gallery-pict img:hover{
    filter: grayscale(0);
    padding: 0;
    transform: translateY(-25px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}
/* ====================================== */
/* Footer */
footer {
    width: 100%;
}

.cont-footer {
    width: 100%;
    background: #FA6400;
    padding: 30px;
}

.list-info-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo-foo img {
    width: 100%;
    float: right;
    display: block;
    margin: auto;
    object-fit: cover;
    opacity: .6;
}

.contactform {
    width: 100%;
}

.info-person {
    width: 100%;
    display: flex;
    color: #fff;
}

.contactdetail h3 {
    text-transform: uppercase;
    font-family: 'Quicksand';
    font-weight: 400 !important;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.contact-Red-social {
    display: flex;
    color: #ffffff;
    width: 100%;
    justify-content: space-evenly;
}

.contact-Red-social li a {
    color: #fff;
    font-size: 24px;
    align-items: center;
    display: block;
    margin: auto;
}

.log-footer img {
    width: 60%;
    object-fit: cover;
    float: right;
    opacity: .8;
    margin: 14px auto;
}

/* - */
.part-footer {
    background: var(--color6);
    width: 100%;
}

.footer-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-cont p {
    font-weight: 400;
    margin: 10px 45px;
    font-size: 15px;
    color: #fff;
    font-family: 'Quicksand';
}